html {
  position: relative;
  min-height: 100%;
}

#content {
    padding: 2em;
}

.left-nav {
    margin: 1em;
}

@media screen and (min-width:480px) {
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        height: 60px;
    }
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */

    background-color: #f5f5f5;
    font-size:0.8em;
}

.fakelink {
    color: inherit;
}

.form-control {

}

.form-control:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    /*margin: 5px 1px 3px 0px;*/
    /*border: 1px solid #DDDDDD;*/
    background-color: lightcyan;

}

.sexy_line {
    border: 0;
    height: 1px;
    background: #333;
    margin: 2em;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}

.first-row {}

.table-borderless tbody tr td {
    border: none;
}

.asteriskField {
    display: none;
}