{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block title %}
    [Y-Games] {{ title }}
{% endblock %}


{% block header %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-lg-offset-3 col-lg-6">
        <form class="form-inline" action="." method="post">
            {% crispy form %}
            <button class="btn btn-default btn-md" type="submit">{% trans "Reset" %}</button>
        </form>
    </div>
{% endblock %}