{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
        <div class="alert alert-warning" role="alert">
            <strong>{% trans "This account was already activated" %}!</strong> <a href="{% url 'login' %}">{% trans "Log in" %}</a>.
            {% trans "If you forgot your password, use" %} <a href="{% url 'password_change' %}">{% trans "Password reset" %}</a>.
        </div>
    </div>
{% endblock %}