{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


    <div class="containter-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>{% trans "User profile" %}: {{ user.username }}</h2>
                <p>{% trans "You are editing your profile" %}:</p>

                <form method="post" action="{% url 'edit_profile' user.pk %}" class="form-horizontal">
                    {% csrf_token %}
                    <div class="col-md-6">
                        {% crispy user_form %}
                    </div>
                    <div class="col-md-6">
                        {% crispy user_profile_form %}
                    </div>
                    <input type="submit" value="{% trans "Save and exit" %}" name="edit_user" class="btn btn-success"/>
                </form>

            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <form method="get" action="{% url 'view_profile' username=user.username %}" class="form">
                    <input type="submit" value="{% trans "Cancel edit" %}" class="btn btn-danger"/>
                </form>
            </div>
        </div>


    </div>

    <link rel="stylesheet" href="{% static 'datepicker/css/bootstrap-datepicker3.css' %}"/>
    <script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'datepicker/locales/bootstrap-datepicker.sk.min.js' %}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_validator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/optionier.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
    {% get_current_language as LANGUAGE_CODE %}
{#    FIXME hack to make translations work in jquery-form-validator #}
    {% if LANGUAGE_CODE == 'sk' or LANGUAGE_CODE == 'hu' %}
        {% with 'js/lang/'|add:LANGUAGE_CODE|add:'.js' as PATH %}
            <script type="text/javascript" src="{% static PATH %}"></script>
        {% endwith %}
    {% endif %}
{#    TODO remove this hack#}
    <script>
        $(function () {
            $("#datepicker").datepicker({
                format: "dd.mm.yyyy",
                weekStart: 1,
                startView: 2,
                maxViewMode: 3,
                autoclose: true
            });
        });
        $(document).ready(function () {
            var $statusSelector = $("select[name=status]");
            if ($statusSelector.val() == 'w') {
                $("#div_id_school").hide();
                $("#div_id_school_year").hide();
            }
            $("select[name=country]").bindSelect($("input[name=state]"));
            $statusSelector.on("change", function () {
                var school_elm = $("#div_id_school");
                var school_year_elm = $("#div_id_school_year");
                if ($statusSelector.val() == 'w') {
                    school_elm.hide();
                    school_year_elm.hide();
                    return;
                }
                school_elm.show();
                school_year_elm.show();
            });
        });

    </script>
{% endblock %}