{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
        <div class="alert alert-error" role="alert">
            <strong>{% trans "You used wrong activation link" %}!</strong>
            {% if expired %}
                {% trans "Validity of this activation code has expired" %}.
                {% trans "If you want to activate account, you can" %}
                <a href="{% url 'generate_activation' username %}">{% trans "generate new code" %}</a>.
            {% else %}
                {% trans "This activation code is invalid" %}.
                {% trans "Check please if you wrote right activation code" %}.
                {% trans "If this problem persists, you can try" %}
                <a href="{% url 'generate_activation' username %}">{% trans "generate new code" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}