{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
        <div class="alert alert-success" role="alert">
            <strong>{% trans "Your account was sucessfully created" %}!</strong>
            {% trans "Activation email was sent, on email address you provided" %}: {{ email }}.
            {% trans "After activation you can" %} <a href="{% url 'login' %}">{% trans "Log in" %}</a>.
        </div>
    </div>
{% endblock %}