{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
        <div class="alert alert-success" role="alert">
            <strong>{% trans "Your accoutn was sucefully activated" %}!</strong>
            {% trans "Now you can" %} <a href="{% url 'login' %}">{% trans "Log in" %}</a>.
        </div>
    </div>
{% endblock %}