{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load countries %}

{% block content %}
    <div class="containter-fluid">
        <div class="col-md-4">
            <div class="row">
                <h2>{% trans "User profile" %}: {{ profile_user.username }}</h2>
                {% if own_profile %}
                    <div>
                        <a href="{% url 'edit_profile' user.pk %}">{% trans "Edit your profile" %}</a>
                    </div>
                {% endif %}

                {{ profile_user.first_name|default:"&lt No first name specified &gt" }}
                {{ profile_user.last_name|default:"&lt No last name specified &gt" }}
                <br/>
                <br/>
            </div>

            <div class="row">
                <table class="table table-hover table-condensed table-borderless">
                    {% get_country profile_user.profile.country as country %}
                    <tr>
                        <td>{% trans "Country" %}</td>
                        <td>{{ country.name|default:"No country specified" }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Region" %}</td>
                        <td>{{ profile_user.profile.get_state_display|default:"No state specified" }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Gender" %}</td>
                        <td>{{ profile_user.profile.get_gender_display|default:"No gender specified" }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Day of birth" %}</td>
                        <td>{{ profile_user.profile.birth_date|default:"No birth date specified" }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Occupation" %}</td>
                        <td>{{ profile_user.profile.get_status_display|default:"No status specified" }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Email" %}</td>
                        <td>{{ profile_user.email|default:"No email specified" }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Phone" %}</td>
                        <td>{{ profile_user.profile.phone_number|default:"No phone number specified" }}</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="col-md-8">
            <div class="row"><h4>{% trans "Player profiles" %}:</h4>
                {% if own_profile %}
                    <a href="{% url 'add_player_profile' user.username %}">{% trans "Add player profile" %}</a>
                {% endif %}
            </div>

            <div class="row">
                {% if profiles_player %}
                    <div class="col-sm-3">
                        <ul class="nav nav-pills nav-stacked" role="tablist"
                            id="tabs_hry">
                            {% for p in profiles_player %}
                                <li role="presentation"><a
                                        href="#game_{{ p.game.slug }}"
                                        role="tab"
                                        data-toggle="tab">{{ p.game }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-9">
                        <div class="tab-content">
                            {% for p in profiles_player %}
                                <div role="tabpanel" class="tab-pane fade"
                                     id="game_{{ p.game.slug }}">
                                    <!--Toto je herny profil pre hru {{ p.game }}<br />-->
                                    {{ p.game.name_for_nick }} {% trans "of player for this game is" %}: {{ p.nick }}<br/>
                                    {% if own_profile %}
                                        <a href="{% url 'edit_player_profile' user.username p.game.slug %}">{% trans "Edit player profile" %}</a>
                                    {% endif %}

                                    {#TODO zobrazit turnaje, vysledky atd..#}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <script type="text/javascript">
                        $('#tabs_hry li a').click(function (e) {
                            e.preventDefault()
                            $(this).tab('show')
                        })
                    </script>
                {% else %}
                    {% trans "This user is not registerd in any game" %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}