{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load strfilters %}
{% load crispy_forms_tags %}
{% load addressfmt %}

{% block content %}
    <h1>{{ accommodation.name }}</h1>
    <div>
        {{ accomodation.description|safe }}
    </div>
    <div>
        {{ tournament_accommodation.additional_info|safe }}
    </div>
    <div>
        <div>
            {{ accommodation.address|splitline }}
        </div>
        <div>
            {{ accommodation.phone|splitline }}
        </div>
        <div>
            {{ accommodation.email|splitline }}
        </div>
        {{ accommodation.url }}
    </div>
    <ul>
        <li>
            <strong style="float: left">{% trans "Price" %}:</strong>
            <span style="float: right">{{ tournament_accommodation.price|to_eur }} <sub>&euro;</sub></span>
        </li>
        <li>
            <strong style="float:left">{% trans "Available places" %}:</strong>
            <span style="float: right">{{ tournament_accommodation.get_available_capacity }}</span>
        </li>
    </ul>
    <div>
        {% if can_reserve %}
            {% if reservation %}
                <a class="btn btn-danger btn-large"
                   href="{% url 'delete_accommodation_reservation' reservation.pk %}">
                    <span class="glyphicon glyphicon-remove"></span> {% trans "Cancel reservation" %}
                </a>
            {% else %}
                <a class="btn btn-success btn-large"
                   href="{% url 'reserve_accommodation' tournament_accommodation.pk %}">
                    <span class="glyphicon glyphicon-ok"></span> {% trans "Reserve" %}
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div>
        {% if reservation %}
            {% for product in products %}
                <div>
                    <div>
                        {{ product.name }}
                    </div>
                    <div>
                        {{ product.description|safe }}
                    </div>
                    <div>
                        <span>{{ product.price|to_eur }}  <sub>&euro;</sub></span>
                    </div>
                    {% if product.pk in reserved_products %}
                        <strong>{% trans "Reserved quantity" %}:</strong> <span>{{ reserved_products|get_item:product.pk }}</span>
                    {% endif %}
                    {% if can_reserve %}
                    <form action="{% url 'add_product' reservation.pk product.pk %}" class="form-inline" method="post">
                        {% csrf_token %}
                        {% if product.pk in forms %}
                            {% crispy forms|get_item:product.pk %}
                        {% else %}
                            {% crispy empty_form %}
                        {% endif %}
                        <button type="submit" class="btn btn-success btn-lg">{% trans "Add" %}</button>
                    </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}