{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load strfilters %}
{% load addressfmt %}

{% block content %}
    <div class="row">
        {% for tourn_accom in accommodations %}
            <div class="col-xs-12 col-md-6 col-lg-3">
                <h2>{{ tourn_accom.accommodation.name }}</h2>
                <a href="{% url 'show_accommodation' tourn_accom.pk %}">Show
                    me</a>
                <div><strong>{% trans "From" %}: {{ tourn_accom.check_in_date }}</strong></div>
                <div><strong>{% trans "To" %}: {{ tourn_accom.check_out_date }}</strong></div>
                <div>{{ tourn_accom.accommodation.description|safe }}</div>
                <span><strong>{% trans "Price" %}: </strong></span>
                {{ tourn_accom.price|to_eur }} <sub>&euro;</sub>
                <div>{{ tourn_accom.accommodation.address|splitline }}</div>
                {% if can_reserve %}
                    {% if tourn_accom.pk in reserved %}
                        <span class="btn btn-success" disabled="disbaled">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                        <a href="{% url 'delete_accommodation_reservation' reserved|get_item:tourn_accom.pk %}"
                           class="btn btn-danger btn-large">
                            <span class="glyphicon glyphicon-remove"></span>
                            Remove
                        </a>
                    {% else %}
                        <a href="{% url 'reserve_accommodation' tourn_accom.pk %}"
                           class="btn btn-success btn-large">Reserve</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}