{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'accommodations/style.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <a href="{% url 'teams_detail' team.pk %}"
               class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span> {% trans "Back" %}
            </a>
        </div>
        <div class="col-xs-12 col-lg-6">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {{ team_formset.management_form }}
                {% for form in team_formset %}
                    <div class="accommodation-formset">
                        <div class="row">
                            <div class="col-xs-12 col-md-5">
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5 col-md-offset-2">
                                <div class="form-group">
                                    <label for="{{ form.accommodation.id_for_label }}">{{ form.accommodation.label }}</label>
                                    {{ form.accommodation }}
                                    {% if form.accommodation.errors %}
                                        {% for error in form.accommodation.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if team_formset.non_form_errors %}
                    {% for error in team_accommodation_form_set.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                <button type="submit"
                        class="btn btn-default btn-success pull-right">{% trans "Submit" %}</button>
            </form>
        </div>
        <div class="col-xs-12 col-lg-3">
            <a href="{% url 'team_products' team.pk %}"
               class="btn btn-default pull-right">
                {% trans "Manage products" %}
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>

    </div>
{% endblock %}

{% block js_block %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.accommodation-formset').formset({
            'addText': '{% trans "Add accommodation" %}',
            'deleteText': '{% trans "Remove" %}'
        })
    </script>
{% endblock %}