{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block head %}
   <link rel="stylesheet" type="text/css" href="{% static 'accommodations/style.css' %}">
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{#    TODO @dalsiucastnik: uprav si to podla potreby ja neriesim html/css #}
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="accommodation-formset">
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                {{ form.accommodation }}
                {% if form.accommodation.errors %}
                    {% for error in form.accommodation.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {% if formset.non_form_errors %}
            {% for error in team_accommodation_form_set.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}
        <button type="submit"
                class="btn btn-default">{% trans "Submit" %}</button>
    </form>
{% endblock %}
