{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'accommodations/style.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <a href="{% url 'team_accommodations' team.pk %}"
               class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
                {% trans "Back" %}
            </a>
        </div>
        <div class="col-xs-12 col-lg-6">
            <form method="post" class="form-horizontal" action=".">
                {% csrf_token %}
                {{ team_formset.management_form }}
                {% for form in team_formset %}
                    <div class="product-formset">
                        <div class="row">
                            <div class="col-xs-12 col-lg-3 col-lg-offset-1">
                                <div class="form-group">
                                    <label for="{{ form.reservation.id_for_label }}">
                                        {{ form.reservation.label }}
                                    </label>
                                    {{ form.reservation }}
                                    {% if form.reservation.errors %}
                                        {% for error in form.reservation.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-lg-offset-1">
                                <div class="form-group">
                                    <label for="{{ form.quantity.id_for_label }}">
                                        {{ form.quantity.label }}
                                    </label>
                                    {{ form.quantity }}
                                    {% if form.quantity.errors %}
                                        {% for error in form.quantity.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-3 col-lg-offset-1">
                                <div class="form-group">
                                    <label for="{{ form.product.id_for_label }}">
                                        {{ form.product.label }}
                                    </label>
                                    {{ form.product }}
                                    {% if form.product.errors %}
                                        {% for error in form.product.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if team_formset.non_form_errors %}
                    {% for error in team_accommodation_form_set.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                <button type="submit"
                        class="btn btn-succes btn-default pull-right">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block js_block %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.product-formset').formset({
            'addText': '{% trans "Add product" %}',
            'deleteText': '{% trans "Remove" %}'
        })
    </script>
{% endblock %}