<table>
{% autoescape off %}
    {% for r in rows %}
        <tr>
            {% for c in r %}
                <td>{{ c }}</td>
            {% endfor %}

        </tr>
    {% endfor %}
{% endautoescape %}
</table>