{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load pretty_prints %}

{% block content %}
    <div class="containter-fluid">
        <div class="row">
            <a href="{% url 'teams_overview' %}"
               class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span> {% trans "Back" %}
            </a>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h2>{{tournament.name}}</h2>
                <table class="table table-condensed table-borderless">
                    <tr><td colspan="2"></td></tr>
                    <tr><td colspan="2">{{tournament.info|safe}}</td></tr>
                    <tr><td>{% trans "Date" %}:</td><td>{{tournament.date}}</td></tr>
                    <tr><td>{% trans "Registration start" %}:</td><td>{{tournament.registration_start}}</td></tr>
                    <tr><td>{% trans "Registration end" %}:</td><td>{{tournament.registration_end}}</td></tr>
                </table>

                <div class="row">
                    <div class="col-xs-12">
                        <h4>{% trans "Choose game in which you want to register" %}:</h4>
                    </div>
                </div>
            
                {% for g in game_bundle %}
                    <div style="border:2px;border-style:dashed;padding:1em;margin:1em;">
                        <form class="form-horizontal" method="get" action="{% url 'teams_register' g.pk %}">
                            <div class="row">
                                <div class="col-xs-12">
                                    <b>{{ g.game_rule|game_rule_name }}</b> - {% trans "Type" context "Type of game" %}: {{ g.player_count }}v{{ g.player_count }}
                                    {% blocktrans with player_count=g.player_count %}- Player size: {{ player_count }}{% endblocktrans %}
                                    {% blocktrans count capacity=g.capacity %} - Maximum: {{ capacity }} team {% plural %} - Maximum: {{ capacity }} teams {% endblocktrans %}
                                    {% if g.teams_left <= 3 %}
                                        {% blocktrans count left_places=g.teams_left %}- Remaining: {{ left_places }} team{% plural %}- Remaining: {{ left_places }} teams{% endblocktrans %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if g.registration_available %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-info btn-xs pull-right">{% trans "Register team" %}</button>
                                    </div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                {% empty %}
                    Tento turnaj nemá žiadne hry s otvorenou registráciou aktuálne.
                {% endfor %}
            </div>
        </div>    


    </div>
{% endblock %}