{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load approve %}

{% block content %}
    <div class="containter-fluid">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h2>{% trans "Team" %}: [{{ team.acronym }}] {{ team.name }}</h2>
            <div class="row">
                <table class="table table-hover table-condensed table-borderless">
                    <tr>
                        <td>{% trans "Is VIP" context "If team is VIP" %}:</td>
                        <td>{{ team.vip|yn_filter }}</td>
                    </tr>
                    <tr>
                        <td>
                            {% trans "Paid" %}:
                        </td>
                        <td>{{ team.paid|yn_filter }}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Game" %}:</td>
                        <td>{{ team.game_rules.game }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Tournament" %}:</td>
                        <td>{{ team.game_rules.tournament }}</td>
                    </tr>
                    {% if is_admin and is_current %}
                        <tr>
                            <td><b>{% trans "You are team administrator" %}</b>
                            </td>
                            <td>
                                <a href="{% url 'teams_edit' team.pk %}">{% trans "Manage team" %}</a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                {% if is_paid %}
                                    <a href="{% url 'swap_owners' team.pk %}">{% trans "Manage team accommodations" %}</a>
                                {% else %}
                                    <a href="{% url 'team_accommodations' team.pk %}">{% trans "Manage team accommodations" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% if is_paid == False %}
                            <tr>
                                <td></td>
                                <td><a href="{% url 'team_payment' team.pk %}"
                                       class="btn btn-success">{% trans "Payments" %}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
            </div>

            <div class="row">
                <h3>{% trans "Members" %}:</h3>
                <table class="table table-hover table-condensed table-borderless">
                    {% for m in team.members.all %}
                        <tr>
                            <td>{{ m.player }}</td>
                            <td>{{ m.get_status_display }}</td>
                            <td>
                                <a href="{% url 'view_profile' m.player.user %}">{% trans "Show profile" %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
{% endblock %}