{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="containter-fluid">
        <div class="row">
            <a href="{% url 'teams_detail' team.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span> {% trans "Back" %}</a>
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h2>{% trans "Team" %}: [{{ team.acronym }}] {{ team.name }}</h2>
            <div class="row">
                <table class="table table-hover table-condensed table-borderless">
                    <tr>
                        <td>{% trans "Is approved" context "team" %}: {{ team.approved }}</td>
                        <td>{% trans "Is VIP" context "team" %}: {{ team.vip }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Game" %}:</td>
                        <td>{{ team.game_rules.game }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Tournament" %}:</td>
                        <td>{{ team.game_rules.tournament }}</td>
                    </tr>
                </table>
            </div>

            <div class="row">
                <h3>{% trans "Members" %}:</h3>
                <table class="table table-hover table-condensed table-borderless">
                    {% for m in team.members.all %}
                        <tr>
                            <td>{{ m.player }}</td>
                            <td>{{ m.get_status_display }}</td>
                            <td><a href="{% url 'view_profile' m.player.user %}">{% trans "Show profile" context "Team manager" %}</a></td>
                            <td>
                                <form action="?" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="remove_member"/>
                                    <input type="hidden" name="member" value="{{ m.id }}"/>
                                    <input type="submit" class="btn btn-danger" value="{% trans "Remove member" %}"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="row">
                <h3>{% trans "Invitations" %}:</h3>
                <table class="table table-hover table-condensed table-borderless">
                    {% for i in team.invites.all %}
                        <tr>
                            <td>{% if i.user %}
                                <a href="{% url 'view_profile' i.user.username %}">{{ i.user }}</a>{% endif %}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.get_status_display }}</td>
                            <td>
                                <form action="?" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="cancel_invite"/>
                                    <input type="hidden" name="invite" value="{{ i.id }}"/>
                                    <input type="submit" class="btn btn-danger" value="{% trans "Cancel invitation" %}"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row">
                {% if can_invite %}
                    <h5>{% trans "Invite new member" %}:</h5>
                    <form action="?" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="invite"/>
                        <input type="email" name="email" value=""/>
                        <input type="submit" class="btn btn-success" value="{% trans "Submit invitation" %}"/>
                    </form>
                {% else %}
                    <h5>{% trans "Maximum player count reached." %}</h5>
                {% endif %}
                <p><small>{% trans "You can invite one more team member than the in-game player count is." %}
                    {% trans "You can use the additional team member as a substitute." %}</small></p>
            </div>
        </div>

    </div>
{% endblock %}