{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load approve %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <div class="alert alert-info">
                <stong>INFO:</stong>
                {% blocktrans %}We add payment gateway as new payment method.
                    You can check the instructions{% endblocktrans %}
                <a href="http://y-games.sk/novinky/navod-na-platbu-cez-platobnu-branu/">
                    {% trans "here" %}
                </a>.
            </div>
        </div>
    </div>
    <div class="containter-fluid">
        <div class="col-xs-12 col-md-6 col-lg-4" style="margin:0.5em;">
            <div class="row">
                <h3 style="padding:0.4em; margin:0.5em;"
                    class="center-block">
                    {% trans "Register new team in tournament" %}
                </h3>
            </div>
            <div class="row">
                <div class="bordered">
                    <h4>{% trans "Open tournaments" %}:</h4>
                    {% for tournament in open_tournaments %}
                        <h3>{{ tournament.name }}</h3>
                        <a class="btn btn-primary btn-lg"
                           href="{% url 'teams_choose_game' tournament.pk %}">
                            {% trans "Register new team" %}
                        </a>
                        <div>
                            {{ tournament.info|safe }}
                        </div>
                        <div>
                            <ul>
                                <li><span
                                        style="float: left">{% trans "Date" %}</span>
                                    <span style="float: right; padding-right: 0.5em">{{ tournament.date }}</span>
                                </li>
                                <li><span
                                        style="float: left">{% trans "Registration start" %}</span>
                                    <span style="float: right; padding-right: 0.5em">{{ tournament.registration_start }}</span>
                                </li>
                                <li><span
                                        style="float: left">{% trans "Registration end" %}</span>
                                    <span style="float: right; padding-right: 0.5em">{{ tournament.registration_end }}</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span>{% trans "Games" %}:</span>
                            <ul>
                                {% for game_rule in tournament.gamerules_set.all %}
                                    <li>{{ game_rule.game }} {{ game_rule.name }}
                                        {% blocktrans count player_count=game_rule.player_count %}
                                            - {{ player_count }}
                                            player {% plural %}-
                                            {{ player_count }}
                                            players {% endblocktrans %}
                                        {% blocktrans count team_count=game_rule.capacity %}
                                            - Maximum {{ team_count }}
                                            team {% plural %} - Maximum
                                            {{ team_count }}
                                            teams {% endblocktrans %}
                                        {% if game_rule.teams_left <= 3 %}
                                            {% blocktrans count remaining=game_rule.teams_left %}
                                                - Remaining {{ remaining }}
                                                team
                                            {% plural %} - Remaining
                                                {{ remaining }} teams
                                            {% endblocktrans %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% empty %}
                        {% trans "There are no tournaments with open registration now" %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <h4>{% trans "Closed tournaments" %}:</h4>
                {% for t in closed_tournaments %}
                    {# TODO #}
                {% empty %}
                    {% trans "There are no tournaments with closed registration now" %}
                {% endfor %}
            </div>
        </div>


        <div class="col-md-3" style="margin:0.5em;">
            <div class="row">
                <h3 style="padding:0.4em; margin:0.5em;"
                    class="center-block">
                    {% trans "My teams" %}
                </h3>
                {% for t in teams %}
                    <table class="table table-condensed table-borderless"
                           frame="box">
                        <tr>
                            <td colspan="2">
                                <b>
                                    <a href="{% url 'teams_detail' t.pk %}">
                                        {% trans "Show detail" %}
                                    </a>
                                    {% if t.pk in administered and t.pk not in payment_created %}
                                        <a href="{% url 'team_delete' t.pk %}"
                                           class="btn btn-xs btn-danger pull-right">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            {% trans "Delete" %}
                                        </a>
                                    {% endif %}
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans "Game" %}:</td>
                            <td>{{ t.game_rules.game }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Tournament" %}:</td>
                            <td>{{ t.game_rules.tournament }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">[{{ t.acronym }}] {{ t.name }}</td>
                        </tr>
                        <tr>
                            <td><strong>{% trans "Paid" %}</strong></td>
                            <td>{{ t.paid|yn_filter }}</td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
            <div class="row">
            </div>
        </div>

        <div class="col-md-3" style="margin:0.5em;">
            <div class="row">
                <h3 style="padding:0.4em; margin:0.5em;"
                    class="center-block">
                    {% trans "Invitations waiting in queue" %}
                </h3>
                {% for i in invites %}
                    <table class="table table-condensed table-borderless"
                           frame="box">
                        <tr>
                            <td colspan="2">{% trans "Has invitation in team" %}:</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>{{ i.team }}</b></td>
                        </tr>
                        <tr>
                            <td>{% trans "Game" %}:</td>
                            <td>{{ i.team.game_rules.game }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Tournament" %}:</td>
                            <td>{{ i.team.game_rules.tournament }}</td>
                        </tr>
                        <tr>
                            <td>
                                {% if i.user_has_player_profile %}
                                    <a href="{% url 'accept_invite' i.pk %}"
                                       class="btn btn-success">{% trans "Accept invitation" %}</a>
                                {% else %}
                                    <h3>
                                        {% trans "In oreder to accept invitation to game, you have to create player profile in such game" %}
                                    </h3>
                                    <form method="post"
                                          action="{% url 'add_player_profile' user.username %}">
                                        {% csrf_token %}
                                        <input type="submit"
                                               value="{% trans "Create player profile in" %} {{ i.team.game_rules.game.name }}"/>
                                    </form>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'decline_invite' i.pk %}"
                                   class="btn btn-danger pull-right">{% trans "Decline invite" %}</a>
                            </td>
                        </tr>

                    </table>
                {% endfor %}
            </div>

            <div class="row">
            </div>
        </div>

    </div>
{% endblock %}