{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load strfilters %}

{% block content %}
    <div class="containter-fluid">
        <div class="row">
            <a href="{% url 'teams_choose_game' gr.tournament.pk %}"
               class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span> {% trans "Back" %}
            </a>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h2>{{ gr.tournament.name }} - {{ gr.game.name }}
                    - {{ gr.name }}</h2>
                <p>
                    {% trans "If there is user with specified email address, he will get an invitation" %}.
                    {% trans "He can accept it, after he looks in Team management section" %}.
                    <br/>
                    {% trans "If there is no user with specified email address, he will be invited via email" %}.
                    {% trans "After he register via link, he will get in email, he can accept this invitation" %}.
                </p>
                <form method="post" action="?">
                    {% csrf_token %}

                    {% crispy form %}

                    <div>
                        <b>{% trans "Overall price" %}:</b>
                        <div id="overall_price">{{ price|to_eur }}</div>
                        <br/>
                    </div>

                    <input type="submit" value="{% trans "Register" %}"
                           name="register" class="btn btn-info btn-lg"/>
                </form>
            </div>
        </div>


    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script type="text/javascript"
            src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/ajax_validator.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/ajax_select.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/validate.js' %}"></script>
{% endblock %}