{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load approve %} {# for fancy yes and no's #}



{% block content %}
    <div class="row">
        <script type="text/javascript" charset="utf-8" src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-dt/css/jquery.dataTables.min.css' %}" >

        <table id="teams-table" class="display table table-hover" cellspacing="0">
            <thead>
                <tr>
                    <th><strong>{% trans "Team name" %}</strong><br /></th>
                    <th><strong>{% trans "Captain emails" %}</strong><br /></th>
                    <th><strong>{% trans "Captain phones" %}</strong><br /></th>
                    <th><strong>{% trans "Game" %}</strong><br /></th>
                    <th><strong>{% trans "VIP" %}</strong><br /></th>
                    <th><strong>{% trans "Payer reference" context "VS" %}</strong><br /></th>
                    <th><strong>{% trans "Has paid" %}</strong><br /></th>
                    <th><strong>{% trans "Payment processed date" %}</strong><br /></th>
                    <th><strong>{% trans "Team created date" %}</strong><br /></th>
                </tr>
            </thead>
            <tbody>


            </tbody>
            <tfoot>
                <tr>
                    <th><strong>{% trans "Team name" %}</strong></th>
                    <th><strong>{% trans "Captain emails" %}</strong><br /></th>
                    <th><strong>{% trans "Captain phones" %}</strong><br /></th>
                    <th><strong>{% trans "Game" %}</strong></th>
                    <th><strong>{% trans "VIP" %}</strong></th>
                    <th><strong>{% trans "Payer reference" context "VS" %}</strong></th>
                    <th><strong>{% trans "Has paid" %}</strong></th>
                    <th><strong>{% trans "Payment processed date" %}</strong></th>
                    <th><strong>{% trans "Team created date" %}</strong></th>
                </tr>
            </tfoot>

        </table>

    </div>

{% endblock %}

{% block js_block %}
    <script src="{% static 'teams/js/teams_table.js' %}"></script>
{% endblock %}

