{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load render_table from django_tables2 %}
{% load strfilters %}

{% block title %}[Y-Games] {% trans "Payment for" %}
    {{ team.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-3">
            <a href="{% url 'teams_detail' team.pk %}"
               class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left"></span>
                {% trans "Back" %}
            </a>
        </div>
        <div class="col-xs-12 col-lg-6">
            <h2>{% trans "Payment for" %}
                [{{ team.acronym }}] {{ team.name }}</h2>
            {% render_table table %}
            <table class="table">
                <tr>
                    <td><strong>{% trans "Overall" %}:</strong></td>
                    <td><span
                            class="pull-right">{{ overall|to_eur }} &euro;</span>
                    </td>
                </tr>
            </table>
            <div class="alert alert-info">
                {% blocktrans %}Prices in this table are just indicative and
                    may differ from real amount{% endblocktrans %}
            </div>
            {% if is_not_paid %}
                <form class="form form-horizontal" method="post" action=".">
                    {% csrf_token %}
                    <h3>{% trans "Billing info" %}</h3>
                    <div class="form-group">
                      <label for="{{form.first_name.if_for_label}}">{{form.first_name.label}}</label>
                      {{form.first_name}}
                    </div>
                    <div class="form-group">
                      <label for="{{form.last_name.if_for_label}}">{{form.last_name.label}}</label>
                      {{form.last_name}}
                    </div>
                    <div class="form-group">
                      <label for="{{form.email.if_for_label}}">{{form.email.label}}</label>
                      {{form.email}}
                    </div>
                    <div class="form-group">
                      <label for="{{form.country.if_for_label}}">{{form.country.label}}</label>
                      {{form.country}}
                    </div>
                    <div class="form-group">
                      <label
                         for="{{form.state.if_for_label}}">{{form.state.label}}</label>
                      {{form.state}}
                    </div>
                    <div class="form-group">
                      <label
                         for="{{form.city.if_for_label}}">{{form.city.label}}</label>
                      {{form.city}}
                    </div>
                    <div class="form-group">
                      <label
                         for="{{form.street.if_for_label}}">{{form.street.label}}</label>
                      {{form.street}}
                    </div>
                    <div class="form-group">
                      <label
                         for="{{form.zip_code.if_for_label}}">{{form.zip_code.label}}</label>
                      {{form.zip_code}}
                    </div>
                    <div class="form-group">
                      <label
                             for="{{form.payment_method.if_for_label}}">{{form.payment_method.label}}</label>
                      {{form.payment_method}}
                    </div>
                    <button type="submit"
                            class="btn btn-success pull-right">{% trans "Create payment" %}</button>
                </form>
                <button type="button" class="btn btn-danger"
                        data-toggle="modal" data-target="#myModal">
                    {% trans "Delete payment" %}
                </button>
            {% endif %}
        </div>
        <div class="modal" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"
                            id="myModalLabel">{% trans "Warning, are you really sure, you want to delete payment?" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% blocktrans %}
                            Warning! This action is destructive, are you really
                            sure you want to delete your payment?
                            If you already paid and we just didnt receive your
                            payment, leave the payment as is!
                            Otherwise, system will be unable to match your
                            payment.
                        {% endblocktrans %}
                    </div>
                    <div class="modal-footer">
                        <a href="{% url "delete_payment" team.pk %}"
                           class="btn btn-danger pull-left">
                            {% trans "Delete payment" %}
                        </a>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>
    <script type="text/javascript" src="{% static 'js/ajax_select.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_validator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/optionier.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
    <script>
        $(document).ready(function() {
          $("select[name=country]").bindSelect($("input[name=state]"));
        });
    </script>
{% endblock %}
