{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}


    <div class="containter-fluid">
        {% if messages %}
            <div class="row bg-success">
                <ul class="messages" style="list-style-type: none">
                  {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
                  {% endfor %}
                </ul>
            </div>
        {% endif %}


        {% for f,h in forms %}
            <div class="row">
                <div class="col-sm-4">
                    Team for game {{ h.nazov }}
                </div>
                <div class="col-sm-8">
                    <form method="post" action="{% url 'teams_detail' %}" class="form">
                        {% csrf_token %}
                        {% bootstrap_form f %}

                        <input type="submit" value="save this team" name="edit_team" class="btn btn-primary" />
                    </form>
                </div>
            </div>
            <hr>

        {% endfor %}



    </div>
    <script>
        function submitEdit(e) {
            e.preventDefault()
        }
    </script>



{% endblock %}