{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <p>To manage teams you need to be logged in and you need to have a player profile created as well.</p>
    <p>If you do not have a player profile, you may create yours in profile settings.</p>
{% endblock %}