<ul class="nav nav-pills nav-stacked left-nav">
    <li><a href="{% url 'index' %}">Novinky</a></li>
    {% for g in games %}
        <li><a href="{% url 'game_detail' url_game=g.pk %}">{{ g.name }}</a></li>
    {% endfor %}
</ul>