{% extends 'index.html' %}

{% block inside %}
    <div class="jumbotron">
        {{ info }}
    </div>
    
     {% for n in news %}
        <h2>{{ n.title }}</h2>
        <p>{{ n.text }}</p>
        <small>{{ n.author }}, {{ n.date }}</small>
    {% endfor %}

{% endblock %}