{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid">

    <div class="col-md-3">
        {% include "game_nav.html" %}
    </div>

    <div class="col-md-9">
        {% block inside %}
            {% for n in news %}
                <h2>{{ n.title }}</h2>
                <p>{{ n.text }}</p>
                <small>{{ n.author }}, {{ n.date }}</small>
            {% endfor %}
        {% endblock %}
    </div>

</div>
{% endblock %}
