html {
  position: relative;
  min-height: 100%;
}

footer {
    color: #161616;
}

legend{
    border:none;
    color:white;
}

#content {
    padding: 2em;
    font-size: 12px;
}

.left-nav {
    margin: 1em;
}

.bordered {
    border: solid;
    border-width: thin;
    border-color: #f8f8f8;
    padding: 0.5em;
}

@media screen and (min-width:480px) {
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        height: 60px;
    }
}

.footer {
    bottom: 0;
    padding-top: 20px;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */

    background-color: rgba(27, 27, 27, 0.2);
    color: #dddddd;
    font-size:1em;
}

.footer p{
    margin-top: 20px;
}

.fakelink {
    color: inherit;
}

.modal {
    color: #1b1b1b;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(27, 27, 27, 0.3);
}

.navbar-inverse {
    background-color: rgba(27,27,27,0.3);
}

body {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/reg_background.png");
    background-repeat: no-repeat;
    color: #dddddd;
    background-color: #1b1b1b;
}

button {
    color: #333333;
}

input {
    color: #333333;
}

select {
    color: #333333;
}

option {
    color: #333333;
}

a {
    color: #9dc1d3;
}

.form-control:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    /*margin: 5px 1px 3px 0px;*/
    /*border: 1px solid #DDDDDD;*/
    background-color: lightcyan;

}

.footer > .design-note {
    color: #1b1b1b;
    font-size: 0.2em;
    margin-top: 0;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 15;
    margin-left: 15;
  }
}

.sexy_line {
    border: 0;
    height: 1px;
    background: #333;
    margin: 2em;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}

.first-row {}

.table-borderless tbody tr td {
    border: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.management_picture{
    margin: 5px;
}

.well{
    background-color: rgba(122,122,122,0.5);
    border-radius: 0px;
    border:none;
}

.btn-info{
    width:220px;
}

#reg_picture{
    text-align: center;
    width:100%;
    margin-bottom: 30px;
}

.registration label{
    margin-left: 15px;
    color:white;
}

.login label{
    color:white;
}

.lang{
    color:grey;
}

.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}
  /*******TEAMS ********/

.team_m_selection{
    min-height:200px;
    opacity:0.8;
}

#new_team{
    background-size: contain;
}

#my_team{
    
}

#invitation{
}

.tournaments{
    min-height: 600px;
}

.thumbnail{
    opacity: 0.8;
    background:rgba(0,0,0,0);
    border:none;
    position:relative;
}

#content_teams{
    width:100%;
}

.glyphicon-chevron-left{
    color:white;
}

.glyphicon-chevron-right{
    color:white;
}

.gi-2x{
    font-size: 2em;
}

.arrow{ 
    line-height: 600px; 
    vertical-align: middle; 
}

.no-margin-padding{
    padding:0;
    margin:0;
}

.caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        background:rgba(0,0,0,0);  
}

.caption h2{
    color:white;
}

.tournaments h1{
    color:white;
}

.btn_more{
    width: 150px;
}

#closed_tournaments{
    background: rgba(162,48,48,0.8);
}

.extra-bottom-padding{
   margin-bottom: 40px;
}

.extra-top-padding{
   margin-top: 80px;
}
