{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load strfilters %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="shortcut icon" type="image/png"
          href="{% static 'favicon.ico' %}"/>
    {% block head %}
    {% endblock %}
    <title>{% block title %}Ygames{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>d
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        {% trans "Home" as home %}
        <a class="navbar-brand"
           href="{% url 'index' %}">{{ home|capitalize }}</a>

        <div class="collapse navbar-default navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% trans "Accommodations" as trans_accomodations %}
                {% trans "Games" as trans_games %}
                {% trans "News" as trans_news %}
                <li><a href="{% url 'show_news' %}">{{ trans_news|capitalize }}</a></li>
                <li><a href="{% url 'show_games' %}">{{ trans_games|capitalize }}</a></li>
                <li>
                    <a href="{% url 'show_accommodations' %}">{{ trans_accomodations|capitalize }}</a>
                </li>
                {% if user.is_authenticated %}
                    {% trans "Y-Profile" as trans_y_profile %}
                    {% trans "Management" as trans_management %}
                    {% trans "Log out" as trans_logout %}
                    {% trans "Password change" as trans_pass_change %}
                    <li>
                        <a href="{% url 'view_profile' username=user.username %}">{{ trans_y_profile|capitalize }}
                            - {{ user.username }}</a></li>
                    <li>
                        <a href="{% url 'teams_overview' %}">{{ trans_management|capitalize }}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">{{ trans_logout|capitalize }}</a>
                    </li>
                    <li>
                        <a href="{% url 'password_change' %}">{{ trans_pass_change|capitalize }}</a>
                    </li>

                    {% if user.is_superuser %}
                        {% trans "Admin" as trans_admin %}
                        <li>
                            <a href="{% url 'admin:index' %}">{{ trans_admin|capitalize }}</a>
                        </li>
                    {% endif %}

                    {% if perms.teams.can_overview %}
                        {% trans "Teams overview" as trans_teams_over %}
                        <li>
                            <a href="{% url 'show_teams' %}">{{ trans_teams_over|capitalize }}</a>
                        </li>
                    {% endif %}

                    {% if perms.teams.can_payments %}
                        {% trans "Payments overview" as trans_payments_over %}
                        <li>
                            <a href="{% url 'show_payments' %}">{{ trans_payments_over|capitalize }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    {% trans "login" as trans_login %}
                    {% trans "register" as trans_register %}
                    <li>
                        <a href="{% url 'login' %}">{{ trans_login|capitalize }}</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">{{ trans_register|capitalize }}</a>
                    </li>
                {% endif %}
            </ul>
            {#        TODO put it in language #}
            <form action="{% url 'set_language' %}"
                  class="navbar-form navbar-right" id="lang-form"
                  method="post">
                {% csrf_token %}
                <input type="hidden" name="next"/>
                <div class="form-group">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <label for="lang">{% trans "LANGUAGE" %}: </label>
                    <select class="form-control" name="language" id="lang">
                        {% for language in languages %}
                            <option value="{{ language.code }}"
                                    {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>{{ language.name_local|lower }}</option>
                        {% endfor %}
                    </select>
                    <noscript>
                        <button type="submit"
                                class="btn">{% trans "Change" %}!
                        </button>
                    </noscript>
                </div>
            </form>
        </div>
    </div>
</nav>
<div id="header">

    {% block header %}
    {% endblock %}
</div>

<div class="container-fluid">
    {% include "messages.html" %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

<footer class="footer text-center">
    {% block footer %}
        Ygames &copy; 2016-2017. All Rights Reserved. Website by Zajo and Sleepy.
        <p class="design-note">Design made by one of the greatest css wizards walking the face of the earth.</p>
    {% endblock %}
</footer>
<script type="text/javascript">
    $("#lang").on("change", function () {
        $("#lang-form").submit();
    });
</script>
{% block js_block %}

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//ygames.sk/piwik/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//ygames.sk/piwik/piwik.php?idsite=1"
                      style="border:0;" alt=""/></p></noscript>
    <!-- End Piwik Code -->
{% endblock %}
</body>

</html>
