{% load i18n %}
{% load strfilters %}

{% if messages %}
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            {% for message in messages %}
                <div class="alert {{ message.tags|classifier:'alert' }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ message.tags|capitalize }}:</strong> {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}