{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}


    <div class="containter-fluid">
        {% if messages %}
            <div class="row bg-success">
                <ul class="messages" style="list-style-type: none">
                  {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
                  {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
            <form method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}

              <input type="submit" value="Uprav herný profil" class="btn btn-primary" />
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>

{% endblock %}