{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}[Y-Games] {% trans 'News' %}{% endblock %}

{% block content %}
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <h2>{% trans 'News' %}</h2>
        <hr/>
        {% for n in news %}
            <h4>{{ n.title }} [{{ n.date }}]</h4>
            <div class="row">
                <ul>
                    <li>{% trans "Category" %}:
                        <a href="{% url 'show_news' %}?category={{ n.category.pk }}">
                        {{ n.category.name }}
                        </a>
                    </li>
                    <li>
                        {% trans "Tags" %}:
                        {% for t in n.tags.all %}
                                <a href="{% url 'show_news' %}?tags=%23{{ t.name }}">
                                    #{{ t.name }}
                                </a>
                        {% endfor %}
                    </li>
                    <li>
                        {% trans "Author" %}:
                        <a href="{% url 'show_news' %}?author={{ n.author.username }}">
                            {{ n.author }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ n.text|safe }}
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
    <div class="col-xs-12 col-lg-3">
        <form class="form-horizontal" action="." method="GET">
            <div class="form-group">
                <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
                {{ form.tags }}
            </div>
            <div class="form-group">
                <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                {{ form.category }}
            </div>
            <button class="btn btn-info pull-right" type="submit">{% trans "Search" %}</button>
        </form>
    </div>
{% endblock %}