{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
        <form method="post" action="." class="form">
          {% csrf_token %}
          {% bootstrap_form form %}

          <input type="submit" value="{% trans "Log in" %}" class="btn btn-primary" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
<p>
    {% trans "Forgot your password? You can" %} <a href="{% url 'password_reset' %}">{% trans "reset it" %}!</a></p>
        {% block register_link %}
        {% endblock %}
    </div>
{% endblock %}
