{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block title %}[Y-Games] {{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-offset-3 col-lg-6"><h2>{{ title }}</h2></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-offset-3 col-lg-6">
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error|escape }}
            {% endfor %}
            </div>
            {% endif %}
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                    <label for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}
                    </label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-default">{% trans "Reset" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
