{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}[Y-Games] {{ title }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-xs-12 col-lg-offset-3 col-lg-6">
    <h2>{{ title }}</h2>
    <p>{% blocktrans %}Your password was reset successfully. You can now {% endblocktrans %}<a href="{% url 'login' %}">{% trans "Log In" %}</a></p>
</div>
</div>
{% endblock %}