{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block title %}[Y-Games] {{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-offset-3 col-lg-6">
            <h2>{{ title }}</h2>
            {% if validlink %}
                <div class="alert alert-success">
                    {% blocktrans %}Your old password was successfuly
                        deactivated.{% endblocktrans %}
                </div>
                <form class="form-horizontal" method="post" action=".">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        {{ error|escape }}
                        {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            {% for error in form.new_password1.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            {% for error in form.new_password2.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-success">{% trans "Reset" %}</button>
                </form>
            {% else %}
                <div class="alert alert-danger">
                    {% blocktrans %}You password reset token is invalid.{% endblocktrans %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}