{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}[Y-Games] {{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-offset-3 col-lg-6">
            <h2>{{ title }}</h2>
            <p>
                {% blocktrans %}Within few minutes you should receive email with password reset link.
                If you still can not get it, pleas check your spam first.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}