{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    
    <div id="reg_picture">
        <img src="/static/images/reg.png">
    </div>
    <div>
            {{ form.non_field_errors }}
            <form method="post" action="." class="form-horizontal" id="reg-form">
                {% csrf_token %}
                {% crispy form %}
        <div class="text-center">
           <input type="submit" value="{% trans "Register" %}" name="register" class="btn btn-info btn-lg"/>
        </div>
        </form>

        <p class="text-center">{% trans "Are you already a member" %} <a href="{% url 'login' %}">{% trans 'Log in!' %}</a></p>
    </div>


    <link rel="stylesheet" href="{% static 'datepicker/css/bootstrap-datepicker3.css' %}"/>
    <script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'datepicker/locales/bootstrap-datepicker.sk.min.js' %}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_validator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/optionier.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validate.js' %}"></script>
    {% get_current_language as LANGUAGE_CODE %}
{#    FIXME hack to make translations work in jquery-form-validator #}
    {% if LANGUAGE_CODE == 'sk' or LANGUAGE_CODE == 'hu' %}
        {% with 'js/lang/'|add:LANGUAGE_CODE|add:'.js' as PATH %}
            <script type="text/javascript" src="{% static PATH %}"></script>
        {% endwith %}
    {% endif %}
{#    TODO remove this hack#}
    <script>
        $(function () {
            $("#datepicker").datepicker({
                format: "dd.mm.yyyy",
                weekStart: 1,
                startView: 2,
                maxViewMode: 3,
                autoclose: true
            });
        });
        $(document).ready(function () {
            var $statusElement = $("select[name=status]");
            if ($statusElement.val() == 'w') {
                $("#div_id_school").hide();
                $("#div_id_school_year").hide();
            }
            $("select[name=country]").bindSelect($("input[name=state]"));
            $statusElement.on("change", function (event) {
                var school_elm = $("#div_id_school");
                var school_year_elm = $("#div_id_school_year");
                if ($statusElement.val() == 'w') {
                    school_elm.hide();
                    school_year_elm.hide();
                    return;
                }
                school_elm.show();
                school_year_elm.show();
            });
        });

    </script>

{% endblock %}
