{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block title %}[Y-Games] {% trans "Games" %}{% endblock %}

{% block content %}
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <div class="row">
            <div class="col-xs-12">
                <h3>{% trans "Games" %}</h3>
            </div>
        </div>
        <hr/>
        {% for game in games %}
            <div class="row">
                <div class="col-xs-12">
                    <h4>[{{ game.acronym }}] {{ game.name }}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ game.info|safe }}
                        </div>
                        <div class="col-xs-12">
                            <h5>
                                <a href="{% url 'show_game' game.slug %}">{% trans 'Show detail' %}</a>
                            </h5>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}