{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% load strfilters %}


{% block title %}
    [Y-Games] {% trans 'Game rules' %} - [{{ game.acronym }}] {{ game.name }}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <h2>[{{ game.acronym }}] {{ game.name }}</h2>
        <div class="row">
            <div class="col-xs-12">
                {{ game.info|safe }}
            </div>
        </div>
        <h2>{{ game_rule.name }}</h2>

        {% for game_rule in game_rules %}
            <h3>
                {% if game_rule.vip %}[VIP]{% endif %}
                {{ game_rule.name }} ({{ game_rule.tournament.name }})
            </h3>
            <div class="row">
                <div class="col-xs-12">
                    {{ game_rule.specific_rules|safe }}
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>{% trans "Price" %}:</td>
                            <td>
                            <strong class="pull-right">
                            {% if game_rule.vip %}
                                {{ game_rule.price|to_eur }} &euro; (
                                {% trans "for team" %})
                            {% else %}
                                {{ game_rule.price_per_player|to_eur }} &euro;
                                ({% trans "per player" %})
                            {% endif %}
                            </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% trans "Team size" %}:
                            </td>
                            <td>
                            <span class="pull-right">
                            {{ game_rule.player_count }} + 1 ({% trans "as substitute" %})
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}