{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "[Y-Games] Invitation email" %}</title>
</head>
<body>
<p>{% trans "Hello" %}</p>
<p>{% trans "You were invited in team" %} {{ team_name }}</p>
<p>
    {% trans "In order to accept this invitation, you have to create account on" %}
    <a href="{% url 'index' %}">{% trans "Y-Games page" %}</a>.
    {% trans "Please use following link" %}:
    <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'register' %}?code={{ code }}">
        {% trans "Register" %}
    </a>
</p>
</body>
</html>