{% load i18n %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[Y-Games] {% trans "Payment for" %} {{ team.name }}</title>
</head>
<body>
<p>English version below.</p>
<h2>Ahoj {{ admin_name }}</h2>
<p>
    Registrácia do hry {{ team.game_rules.name }} v turnaji
        {{ team.game_rules.tournament.name }} bola úspešná.
</p>
<div>
    <h4>Detaily platby:</h4>
    {% render_table table %}
    <p>
        {% trans "Overall price" %}: {{ overall }} &euro;
    </p>
</div>
<p>
    Na dokončenie registrácie je potrebné zaplatiť registračný poplatok pomocou platobnej brány.
</p>
<p>Pre viac informácií klikni na: <a href="http://y-games.sk/novinky/navod-na-platbu-cez-platobnu-branu/">http://y-games.sk/novinky/navod-na-platbu-cez-platobnu-branu/</a>
<p>
    {% trans "Best regards" %},
</p>
<p>
    {% trans "Y-Games team" %}
</p>
<h2>{% trans "Hello" %} {{ admin_name }}</h2>
<p>
    {% blocktrans %}Registration in game {{ team.game_rules.name }} in tournament
        {{ team.game_rules.tournament.name }} was successfull{% endblocktrans %}.
</p>
<div>
    <h4>{% trans "Detail of your payment" %}:</h4>
    {% render_table table %}
    <p>
        {% trans "Overall price" %}: {{ overall }} &euro;
    </p>
</div>
<p>
    {% blocktrans %}Thank you for registration in tournament
        {{ team.game_rules.tournament.name }}.
        In order to finish your registration you need to pay the fee
        via payment gateway{% endblocktrans %}
</p>
<p>For detailed instructions click here <a href="http://y-games.sk/novinky/navod-na-platbu-cez-platobnu-branu/">http://y-games.sk/novinky/navod-na-platbu-cez-platobnu-branu/</a>
<p>
    {% trans "Best regards" %},
</p>
<p>
    {% trans "Y-Games team" %}
</p>
</body>
</html>
