﻿{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<style>
    .greeting {
        size: 2em;
        color: white;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>{% trans "[Y-Games] Activation email" %}</title>
    <style>

    </style>
</head>
<body>
    <p class="greeting">{% trans "Hi" %} {{ username }}</p>
    <p class="body">
        {% trans "You got this email, because you registered on" %} <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'index' %}">{% trans "Y-Games" %}</a>
        {% trans "You can activate your account, by clicking on" %} <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'activate' username code %}">{% trans "Activate" %}</a>
    </p>
    <p>
        {% trans "Y-Games team" %}
    </p>
</body>
</html>